<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" (click)="scrollingService.triggerScrollToPageAndTarget('home', 'landingSection');">Jerusalem Temple Logo</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="scrollingService.triggerScrollToPageAndTarget('home', 'landingSection');">Home</a></li>
        <li><a (click)="scrollingService.triggerScrollToPageAndTarget('home', 'welcomeSection');">Welcome</a></li>
        <li><a (click)="scrollingService.triggerScrollToPageAndTarget('home', 'ourBeliefsSection');">Our Beliefs</a></li>
        <li><a (click)="scrollingService.triggerScrollToPageAndTarget('home', 'aboutUsSection');">About</a></li>
        <li><a routerLink="/calendar">Calendar</a></li>
        <li><a href="#">Donate</a></li>
        <li><a (click)="scrollingService.triggerScrollToPageAndTarget('home', 'contactFormsSection');">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>