
<nav class="navbar navbar-default">
  <div class="container-fluid">


      <div class="row" style="color: #18bc9c;">
        <p class="col-md-4 col-sm-12 col-xs-12 footerContent" id="footerSchedule">Loading...</p>
        <p class="col-md-4 col-sm-12 col-xs-12 footerContent" id="footerAddress">Loading...</p>
        <div class="col-md-4 col-sm-12 col-xs-12 footerContent iframeWrapper">
          <iframe *ngIf="footerIframeSrc" width="250" height="200" frameborder="0" [src]="footerIframeSrc" allowfullscreen></iframe>
        </div>
      </div>


  </div>
</nav>
