<div style="height: 64px;"></div>



<div class="container">

  <h2>Church History</h2>
  <div style="width: 30%; height: 1rem; background-color: #f39c12;"></div>
  <div style="height: 5rem;"></div>

  <div class="row">

    <!-- Spacer -->
    <div class="col-md-1"></div>
    
    <!-- Paragraph describing history of church -->
    <div class="col-md-6">
      <p id="churchHistory"></p>
    </div>

    <!-- Photo of church -->
    <div class="col-md-5">
      <img [src]="historyImageSrc" [alt]="historyImageDescription">
    </div>

  </div>
</div>