<div id="topOfPage" style="height: 64px;"></div>
<br>



<div class="container fade-in">

  <h1>Our History</h1>
  <div class="headerUnderline"></div>

  <div style="height: 5rem;"></div>

  <div class="row">

    <!-- Spacer -->
    <div class="col-md-1"></div>
    
    <!-- Paragraph describing history of church -->
    <div class="col-md-5">
      <p id="churchHistory">Loading...</p>
      <!-- Spacer after content, to make sure it doesn't butt up right against the footer -->
      <div style="height: 64px;"></div>
    </div>

    <div class="col-md-1"></div>

    <!-- Photo of church -->
    <div class="col-md-5 imageGalleryWrapper">
      <img [src]="historyImageSrc" [alt]="historyImageDescription">
      <br>
      <br>
      <p id="historyImageCaption">Loading...</p>
      <!-- Spacer after content, to make sure it doesn't butt up right against the footer -->
      <div style="height: 64px;"></div>
    </div>

  </div>
</div>