<div id="topOfPage" style="height: 64px;"></div>
<br>



<div class="container fade-in">

  <h1>Meet The Pastor</h1>
  <div class="headerUnderline"></div>

  <div style="height: 5rem;"></div>

  <div class="row">

    <!-- Spacer -->
    <div class="col-md-1"></div>

    <!-- Photo of pastor -->
    <div class="col-md-5 imageGalleryWrapper">
      <img [src]="pastorImageSrc" [alt]="pastorImageDescription">
      <!-- Spacer after content, to make sure it doesn't butt up right against the footer -->
      <div style="height: 64px;"></div>
    </div>

    <!-- Paragraph of biography of pastor -->
    <div class="col-md-6">
      <p id="pastorBiography">Loading...</p>
      <!-- Spacer after content, to make sure it doesn't butt up right against the footer -->
      <div style="height: 64px;"></div>
    </div>

  </div>
</div>