<div style="height: 64px;"></div>



<div class="container">

  <h2>Meet The Pastor</h2>
  <div style="width: 30%; height: 1rem; background-color: #f39c12;"></div>
  <div style="height: 5rem;"></div>

  <div class="row">

    <!-- Spacer -->
    <div class="col-md-1"></div>

    <!-- Photo of pastor -->
    <div class="col-md-5">
      <img [src]="pastorImageSrc" [alt]="pastorImageDescription">
    </div>

    <!-- Paragraph of biography of pastor -->
    <div class="col-md-6">
      <p id="pastorBiography"></p>
    </div>

  </div>
</div>