<div id="topOfPage" style="height: 64px;"></div>
<br>



<div class="container fade-in">

  <h1>Upcoming Events</h1>
  <div class="headerUnderline"></div>

  <div style="height: 5rem;"></div>

  <div class="row">

    <!-- Spacer -->
    <div class="col-md-1"></div>

    <!-- Paragraph listing upcoming events -->
    <div class="col-md-5">
      <p id="calendarSchedule">Loading...</p>
      <!-- Spacer after content, to make sure it doesn't butt up right against the footer -->
      <div style="height: 64px;"></div>
    </div>
    
    <!-- Image gallery -->
    <div class="col-md-6 imageGalleryWrapper">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      <!-- Spacer after content, to make sure it doesn't butt up right against the footer -->
      <div style="height: 64px;"></div>
    </div>

  </div>
</div>



