@import '../../styles/variables.scss';



// Spacing between sections
section {
  padding-bottom: 5rem;
}

// Buffer between section start and header
.sectionBuffer {
  height: 4rem;
}
// Devices smaller than 'md' bootstrap classification
@media only screen and (max-width : 991px) {
  .sectionBuffer {
    height: 2rem;
  }
}

// Add fade-in animation to whole page
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

section {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1.5s;
  -moz-animation-duration:1.5s;
  animation-duration:1.5s;
}




// ---------------------------------------------------------
// ---------------------------------------------------------
// ------------------ LANDING SECTION ----------------------
// ---------------------------------------------------------
// ---------------------------------------------------------

// Splash landing image
#landingSection {
  position: relative;
  overflow: hidden;
  height: 100vh;
  text-align: center;
  white-space: nowrap;
  background: url(../../assets/whiteBackgroundFiller.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}





// ---------------------------------------------------------
// ---------------------------------------------------------
// -------- SCHEDULE AND MISSION STATEMENT SECTION ---------
// ---------------------------------------------------------
// ---------------------------------------------------------

// Gold underline beneath header
#scheduleAndMission .headerUnderline {
  width: 50%;
  height: 1rem;
  background-color: #f39c12;
  margin-bottom: 1.5rem;
}
// Devices smaller than 'md' bootstrap classification
@media only screen and (max-width : 991px) {
  // Add margins to separate the sections better, since they'll be stacked ontop one another
  #scheduleAndMission h2 {
    margin-top: 3rem;
  }
  // Make the header underlines the full width
  #scheduleAndMission .headerUnderline {
    width: 100%;
  }
}




// ---------------------------------------------------------
// ---------------------------------------------------------
// ------------------ WELCOME SECTION ----------------------
// ---------------------------------------------------------
// ---------------------------------------------------------


// Make the pastor's image centered in it's div
#welcomeSection .pastorImageWrapper {
  text-align: center;
}

// Image of pastor 
#welcomeSection .pastorImage {
  width: 100%;
  height: auto;
  display: inline-block;
}

// Logo and church name
#welcomeSection .logoAndName {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin-bottom: 2rem;
}
#welcomeSection .logoAndName h2 {
  margin: 0;
}

// Devices smaller than 'md' bootstrap classification
@media only screen and (max-width : 991px) {
  #welcomeSection .pastorImage {
    margin-top: 2rem;
    width: 50%;
  }
  #welcomeSection .logoAndName img {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #welcomeSection .logoAndName {
    justify-content: center;
    text-align: center;
  }
}

/* Image slider */
#homeSlider {
  overflow: hidden;
  position: relative;
  float: left;
  padding: 0;
  max-width: 75%;
  height: auto;
  margin: 0 auto;
  margin-left: 2%;
  background-color: rgba(189,189,189, 0.5);
}
// Devices smaller than 'md' bootstrap classification
@media only screen and (max-width : 991px) {
  #homeSlider {
    margin-left: 12%;
  }
}
#homeSlider figure img {
  width: 16.6666666666666666666666666666666%;
  position: relative;
  float: left;
}
#homeSlider figure {
  position: relative;
  width: 600%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}
@keyframes slidy {
  0%   { left: 0%; }
  15%  { left: 0%; }

  20%  { left: -100%; }
  35%  { left: -100%; }

  40%  { left: -200%; }
  55%  { left: -200%; }

  60%  { left: -300%; }
  75%  { left: -300%; }

  80%  { left: -400%; }
  95%  { left: -400%; }

  100% { left: -500%; }
}

// Gold underline beneath header
#welcomeSection .headerUnderline {
  width: 50%;
  height: 1rem;
  background-color: #f39c12;
  margin-bottom: 1.5rem;
}
// Devices smaller than 'md' bootstrap classification
@media only screen and (max-width : 991px) {
  #welcomeSection .headerUnderline {
    width: 100%;
  }
}





// ---------------------------------------------------------
// ---------------------------------------------------------
// ---------------- OUR BELIEFS SECTION --------------------
// ---------------------------------------------------------
// ---------------------------------------------------------

// Gold underline beneath header
#ourBeliefsSection .headerUnderline {
  width: 50%;
  height: 1rem;
  background-color: #f39c12;
  margin-bottom: 1.5rem;
}
// Devices smaller than 'md' bootstrap classification
@media only screen and (max-width : 991px) {
  #ourBeliefsSection .headerUnderline {
    width: 100%;
  }
}

// Layout of section
#ourBeliefsSection .beliefsAndVideo {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: top;
}
#ourBeliefsSection iframe {
  width: 100%;
  height: 400px;
}
// Devices smaller than 'md' bootstrap classification
@media only screen and (max-width : 991px) {
  #ourBeliefsSection .beliefsAndVideo {
    justify-content: center;
  }
}


// ---------------------------------------------------------
// ---------------------------------------------------------
// ------------------- ABOUT SECTION -----------------------
// ---------------------------------------------------------
// ---------------------------------------------------------

// Gold underline beneath header
#aboutUsSection .headerUnderline {
  width: 25%;
  height: 1rem;
  background-color: #f39c12;
  margin-bottom: 1.5rem;
}
// Devices smaller than 'md' bootstrap classification
@media only screen and (max-width : 991px) {
  #aboutUsSection .headerUnderline {
    width: 100%;
  }
}

// The panels in the About section
#aboutUsSection .aboutPanel {
  text-align: center;
  cursor: pointer;
  padding: 2.5vw;
  border: 2px outset darkgray;
  box-shadow: 2px 2px 5px #888888 outset;
}
#aboutUsSection .aboutPanel:hover {
  border: 2px inset darkgray;
  box-shadow: 2px 2px 5px #888888 inset;
  background-color: rgb(210, 210, 210);
  color: $teal;
  text-decoration: underline;
}
// Devices smaller than 'md' bootstrap classification
@media only screen and (max-width : 991px) {
  #aboutUsSection .aboutPanel {
    padding-bottom: 5rem;
  }
}


// The images for the About section, labeling Calendar, Gallery, Meet The Pastor, and History
#aboutUsSection .aboutPanel img {
  width: 50%;
  height: auto;
  margin: auto auto;
}

// Keep everything centered
@media only screen and (min-width : 768px) {
  #aboutUsSection .is-table-row {
      display: table;
  }
  #aboutUsSection .is-table-row [class*="col-"] {
      float: none;
      display: table-cell;
      vertical-align: top;
  }
}





// ---------------------------------------------------------
// ---------------------------------------------------------
// ----------------- CHILDCARE SECTION ---------------------
// ---------------------------------------------------------
// ---------------------------------------------------------

// Gold underline beneath header
#childcareSection .headerUnderline {
  width: 50%;
  height: 1rem;
  background-color: #f39c12;
  margin-bottom: 1.5rem;
}
// Devices smaller than 'md' bootstrap classification
@media only screen and (max-width : 991px) {
  #childcareSection .headerUnderline {
    width: 100%;
  }
}

#childcareSection img {
  width: 100%;
  height: auto;
}


// ---------------------------------------------------------
// ---------------------------------------------------------
// ------------------ CONTACT SECTION ----------------------
// ---------------------------------------------------------
// ---------------------------------------------------------

// Gold underline beneath header
#contactFormsSection .headerUnderline {
  width: 50%;
  height: 1rem;
  background-color: #f39c12;
  margin-bottom: 1.5rem;
}
// Devices smaller than 'md' bootstrap classification
@media only screen and (max-width : 991px) {
  #contactFormsSection .headerUnderline {
    width: 100%;
  }
}

