
<!-- Landing/splash section at top of page -->
<section id="landingSection" style="height: 100vh;">

  <!-- Image loaded via background image CSS property -->

</section>










<!-- Schedule and mission statement section -->
<section id="scheduleAndMission" style="background-color: white !important;">
  <div class="sectionBuffer"></div>
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-3 col-md-offset-1">
        <h2>Schedule</h2>
        <div class="headerUnderline"></div>
        <p id="homeSchedule">Loading...</p>
      </div>

      <div class="col-md-3">
        <h2>Address</h2>
        <div class="headerUnderline"></div>
        <p id="homeAddress">Loading...</p>
      </div>

      <div class="col-md-4">
        <h2>Mission</h2>
        <div class="headerUnderline"></div>
        <p id="homeMission">Loading...</p>
      </div>

    </div>
  </div>

</section>









  
<!-- Welcome section -->
<section id="welcomeSection" style="background-color: rgb(230, 230, 230);">
  <div class="sectionBuffer"></div>
  <div style="height: 4rem;"></div>
  <div class="container">
    <div class="row">


      <!-- Left side of section, image of pastor and wife -->
      <div class="col-md-3 pastorImageWrapper">

        <img *ngIf="homePastorImageSrc" [src]="homePastorImageSrc" [alt]="homePastorImageDescription" class="pastorImage">

      </div>



      <!-- Right side of section, church logo, name, image slider, welcome paragraph, and online giving link -->
      <div class="col-md-9">

        <!-- Church logo and name -->
        <div class="row logoAndName">
          <img src="https://media2.s-nbcnews.com/j/MSNBC/Components/Video/201706/church-stock-today-170603.today-inline-vid-featured-desktop.jpg" style="width: 100px;" alt="Church logo" class="col-sm-4">
          <h2 class="col-sm-8">Jerusalem Temple Apostolic</h2>
        </div>

        <!-- Image slider -->
        <div class="row">
          <div class="col-md-12" id="homeSlider">
            <figure>
              <img *ngIf="homeSliderImage1Src" [src]="homeSliderImage1Src" [alt]="homeSliderImage1Description">
              <img *ngIf="homeSliderImage2Src" [src]="homeSliderImage2Src" [alt]="homeSliderImage2Description">
              <img *ngIf="homeSliderImage3Src" [src]="homeSliderImage3Src" [alt]="homeSliderImage3Description">
              <img *ngIf="homeSliderImage4Src" [src]="homeSliderImage4Src" [alt]="homeSliderImage4Description">
              <img *ngIf="homeSliderImage5Src" [src]="homeSliderImage5Src" [alt]="homeSliderImage5Description">
              <img *ngIf="homeSliderImage1Src" [src]="homeSliderImage1Src" [alt]="homeSliderImage1Description">
            </figure>
          </div>
        </div>

        <!-- 2 columns, welcome paragraph and an online giving link -->
        <div class="row">
          <div class="col-md-6">
            <h2>Welcome</h2>
            <div class="headerUnderline"></div>
            <p id="homeWelcome">Loading...</p>
          </div>
          <div class="col-md-6" style="background-color: lightblue;">
            And this is the online giving link - TO DO
          </div>
        </div>

      </div>

      

    </div>
    <!-- End of main welcome-section row -->

  </div>
  <!-- End of div.container -->

</section>










<!-- Our beliefs section -->
<section id="ourBeliefsSection">
  <div class="sectionBuffer"></div>
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <h2>Our Beliefs</h2>
        <div class="headerUnderline"></div>
      </div>
    </div>

    <div class="row beliefsAndVideo">

      <div class="col-md-5 col-md-offset-1">
        <p id="homeBeliefs">Loading...</p>
        <!-- Spacer after content, to make sure it doesn't butt up right against the next element -->
        <div style="height: 64px;"></div>
      </div>
      
      <div class="col-md-5 col-sm-10 col-xs-12">
        <iframe *ngIf="homeVideo" [src]="homeVideo" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        <!-- Spacer after content, to make sure it doesn't butt up right against the next element -->
        <div style="height: 64px;"></div>
      </div>

    </div>
  </div>
</section>









<!-- About us section - holds links to Gallery, Calendar, Meet The Pastor, and History -->
<section id="aboutUsSection" style="background-color: rgb(230, 230, 230);">
  <div class="sectionBuffer"></div>
  <div class="container">

    <!-- Header -->
    <div class="row">
      <h2>About Us</h2>
      <div class="headerUnderline"></div>
    </div>

    <!-- Calendar and Gallery row -->
    <div class="is-table-row">

      <div class="col-md-6 aboutPanel" routerLink="/calendar">
        <h3>Calendar of Events</h3>
        <br>
        <img [src]="homeCalendarLinkSrc" [alt]="homeCalendarLinkDescription">
      </div>
      
      <div class="col-md-6 aboutPanel" routerLink="/gallery">
        <h3>Photo Gallery</h3>
        <br>
        <img [src]="homeGalleryLinkSrc" [alt]="homeGalleryLinkDescription">
      </div>
      
    </div>
    <!-- End of Calendar and Gallery row -->
    
    <!-- Meet The Pastor and History row -->
    <div class="is-table-row">
      
      <div class="col-md-6 aboutPanel" routerLink="/pastor">
        <h3>Meet The Pastor</h3>
        <br>
        <img [src]="homePastorLinkSrc" [alt]="homePastorLinkDescription">
      </div>
      
      <div class="col-md-6 aboutPanel" routerLink="/history">
        <h3>History</h3>
        <br>
        <img [src]="homeHistoryLinkSrc" [alt]="homeHistoryLinkDescription">
      </div>

    </div>
    <!-- End of Meet The Pastor and History row -->

  </div>
  <!-- Spacer after content, to make sure it doesn't butt up right against the next element -->
  <div style="height: 64px;"></div>
</section>









<!-- Destiny's Child Childcare section -->
<section id="childcareSection">
  <div class="sectionBuffer"></div>
  <div class="container">

    <h2>Destiny's Child Childcare</h2>
    <div class="headerUnderline"></div>

    <div class="row">
      
      <div class="col-md-4">
        <img [src]="homeChildcareImageSrc" [alt]="homeChildcareImageDescription">
        <!-- Spacer after content, to make sure it doesn't butt up right against the next element -->
        <div style="height: 64px;"></div>
      </div>

      <div class="col-md-8">
        <p id="homeChildcare">Loading...</p>
        <!-- Spacer after content, to make sure it doesn't butt up right against the next element -->
        <div style="height: 64px;"></div>
      </div>

    </div>
  </div>
</section>










<!-- Contact forms section-->
<section id="contactFormsSection" style="background-color: rgb(230, 230, 230);">
  <div class="sectionBuffer"></div>
  <div class="container">
    <div class="row">

      <div class="col-md-5">
        <h2>Prayer Request</h2>
        <div class="headerUnderline"></div>
        <div>
          <label for="prayerName">Your name:</label>
          <input class="form-control" id="prayerName" type="text" [(ngModel)]="prayerRequestName" placeholder="ex: John Smith">
          <br>
          <label for="prayerRequest">Prayer Request:</label>
          <textarea class="form-control" id="prayerRequest" cols="30" rows="10" [(ngModel)]="prayerRequestMessage" placeholder="Your prayer request here..."></textarea>
          <br>
          <button (click)="postPrayer()" class="btn btn-primary btn-md pull-right">Send</button>
        </div>
      </div>

      <div class="col-md-5 col-md-offset-1">
        <h2>Contact Us</h2>
        <div class="headerUnderline"></div>
        <div>
          <label for="contactName">Your name:</label>
          <input class="form-control" id="contactName" type="text" [(ngModel)]="contactRequestName" placeholder="ex: John Smith">
          <br>
          <label for="contactEmail">Email:</label>
          <input class="form-control" id="contactEmail" type="email" [(ngModel)]="contactRequestEmail" placeholder="example@website.com">
          <br>
          <label for="contactPhone">Phone number:</label>
          <input class="form-control" id="contactPhone" type="text" [(ngModel)]="contactRequestPhone" placeholder="(317) 253-2276">
          <br>
          <label for="contactMessage">Message:</label>
          <textarea class="form-control" id="contactMessage" cols="30" rows="10" [(ngModel)]="contactRequestMessage" placeholder="Your message here..."></textarea>
          <br>
          <button (click)="postMessage()" class="btn btn-primary btn-md pull-right">Send</button>
        </div>
      </div>

    </div>
  </div>
</section>